	
		html, body{
			width: 98%;
			height: 98%;
			
			background-color: orange;
			
			font-family: Arial;
			font-size: 12pt;
		}
	
		#form{
			min-width: 700px;
			height: 700px;
		
			border: 2px solid white;
			background-color: #BFBFBF;
			
			// border-top-left-radius: 10px;
			// border-top-right-radius: 10px;
			// border-bottom-left-radius: 10px;
			// border-bottom-right-radius: 10px;
			
			padding: 10px;
		}
		
		#header{
			height: 25px;
			
			font-weight: bold;
			text-align: center;
		}

		#footer{
			text-align: center;
		}

		#nocontent{
			position: absolute;
		
			left: 100px;
			top: 100px;
			
			background-color: white;
			font-weight: bold;
			font-style: italic;
			
			font-family: Arial;
			font-size: 24pt;
		}
		
		.field{
			height: 50px;
			
			font-weight: bold;
			font-style: italic;
		}
		
		input[type=submit]{
			width: 100px;
			color: green;
		}
		
		input[type=reset]{
			width: 100px;
			color: red;
		}
