html, body{
	width: 98%;
	height: 98%;
			
	background-color: orange;
			
	font-family: Arial;
	font-size: 12pt;
}
	
#form{
	width: 700px;
	height: 700px;
		
	border: 2px solid white;
	background-color: #BFBFBF;
	
	padding: 10px;
}
		
#header{
	height: 25px;
			
	font-weight: bold;
	text-align: center;
}

#footer{
	text-align: center;
}
		
.field{
	height: 50px;
			
	font-weight: bold;
	font-style: italic;
}
		
input[type=submit]{
	width: 100px;
	color: green;
}
		
input[type=reset]{
	width: 100px;
	color: red;
}
