html, body{
	width: 98%;
	height: 98%;
			
	background-color: orange;
			
	font-family: Arial;
	font-size: 12pt;
}
	
#form{
	width: 300px;
			
	border: 2px solid white;
	background-color: #BFBFBF;
			
	padding: 10px;
}
		
#header{
	height: 25px;
			
	font-weight: bold;
	text-align: center;
}

#spacer{	
	border: 0px solid black;
	height: 20px;
}

#footer_wrapper{
	text-align: center;
	border: 0px solid white;
	display: block;
}
		
.footer_left{
	width: 50%;
	border: 0px solid red;
	float: left;
	box-sizing: border-box;
}
		
.footer_right{
	width: 50%;
	border: 0px solid red;
	float: left;
	box-sizing: border-box;
}
				
.field{
	height: 50px;
		
	font-weight: bold;
	font-style: italic;
}
		
input[type=text], input[type=email], input[type=password], input[type=submit], input[type=reset]{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
				
input[type=submit]{
	width: 100px;
	height: 50px;
	color: green;
			
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
		
input[type=reset]{
	width: 100px;
	height: 50px;
			
	color: red;
			
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
			
a{
	text-decoration: none;
}

