.form_height{
	height: 575px;
}		

#failure{
	font-weight: bold;
	font-style: italic;
		
	color: red;
}
		
#failure_info{
	position: absolute;
			
	left: 350px;
	top: 10px;
			
	padding: 10px;
		
	width: 300px;
	min-height: 300px;
		
	border: 2px solid white;
	background-color: #BFBFBF;
}

label{
	font-weight: bold;
}
